<?php

$mysql=array(
	'user'=>'root', 		//Database user
	'password'=>'',			//Password of Database user
	'db'=>'ldap_reg',		//Database form db.sql
	'host'=>'localhost',	//address of Database Server
);

$ldap=array (
	'host' =>'', //ldap Host
	'base_dn' => '',  //base dn of you Directory like: ou=users,dc=server,dc=tld
	'bind_rdn' => '',  //base root cn of you Directory like: cn=root,dc=server,dc=tld
	'bind_pw'  => '', 							   //the password of you Directory user
);
$mails=array (

);
$ml = 'none'		//change if you want to automatically subscribe new users to a mailing list, change it to you ml subscribe address
