<?php

$mysql=array(
	'user'=>'root',
	'password'=>'',
	'db'=>'ldap_reg',
	'host'=>'localhost',
);

$ldap=array (
	'host' =>'ldap.milliways.info',
	'base_dn' => 'ou=users,dc=milliways,dc=info',
	'bind_rdn' => 'cn=root,cn=milliways,cn=info',
	'bind_pw'  => '',
	'dc' => 'dc=milliways,dc=info',
);
$mails=array (
	
);
